<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="stylesheet" href="/css/layout/main.css">
    <link rel="stylesheet" href="/css/layout/flash.css">
    <link rel="stylesheet" href="/css/layout/login.css">
    <link rel="stylesheet" href="/css/layout/forgot_pass.css">
    <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
    <meta charset="UTF-8">
    <title>TheInvitesCenter</title>
</head>
<body>
    {{{body}}}
    <header>
        <nav id='main_nav_bar'>
            <ul>
                {{!-- For all users --}}
                <li><a href="/users/home">Home</a></li>

                {{!-- For users that logged in --}}
                {{#if user}}
                    <li><a href="/users/admin"> Admin panel</a></li>
                    <li id="logout_button"><a href="/users/logout"> Logout</a></li>

                {{!-- For users that didn't login --}}
                {{else}}
                    <li><a href="/">Register</a></li>
                    <button id="login_main_button">Login</button>
                {{/if}}
            </ul>
        </nav>
    </header>

    {{!-- The login modal --}}
    <div id="login_modal">
        <div id="inner_login_modal">
            <div id="login_modal_contents">
                <div id="inner_login_header">
                    <span id="close_login_modal">&times;</span>
                    <p id='login_header_p'>Sign-in</p>
                </div>
                <p id='username_incorrect'>The user name or email is incorrect</p>
                <form method="post" action="/users/login" class="signin_form">
                    <div class="input">
                        <input id="login_username" type="text" name="username" placeholder="Username">
                    </div>
                    <div id="hide_for_pass">
                        <div class="input">
                            <input id="login_password" type="password" name="password" placeholder="Password">
                        </div>
                        <button id="login_modal_btn" type='submit' name="submit">Login</button>
                        <a id='forgot_password_link'>Forgot password?</a>
                    </div>
                </form>
                <button id="send__forgot_link"> Change password</button>
                <a id='back_to_login'>Login</a>
            </div>
        </div>
    </div>


    {{!-- Error flash messages --}}
    {{#if error_msg}}
        <div class="err_modal">
            <div class="err_message">
                <img src="/images/error.png">
                <div class="err_msg_text"><p>{{error_msg}}</p></div>
                {{#each errors}}
                    <div class="msg"><p>{{msg}}</p></div>
                {{/each}}
            </div>
        </div>
    {{/if}}  

    {{!-- Login Errors for passport --}}
    {{#if error}}
        <div class="err_modal">
            <div class="err_message">
                <img src="/images/error.png">
                <div class="err_msg_text"> <p>{{error}}</p> </div>
            </div>
        </div>
    {{/if}}

    {{!-- Success flash modal --}}  
    {{#if success_msg}}
        <div class="success_modal">
            <div class="success_message">
                <img src="/images/success.png">
                <div class="success_msg_text"> <p> {{success_msg}}</p> </div>
                <button class="suc_login_btn">Login</button>
            </div>
        </div>
    {{/if}} 

    {{!-- Password change link sent success --}}
    <div class="success_modal" id="pass_link">
        <div class="success_message">
            <img src="/images/success.png">
            <div class="success_msg_text"><p>Password change link is successfully sent!</p></div>
        </div>
    </div>

    <footer id="invitation_footer"> &copy; 2018 The Invitations Center</footer>
</body>

{{!-- <script src="/js/config.js"></script> --}}

<script src="/js/layout/main.js"></script>
<script src="/js/layout/flash.js"></script>
<script src="/js/layout/forgot_pass.js"></script>
<script src="/js/layout/home_page.js"></script>

</html>
